# build artifacts
/build*
/artifacts/
/wadsrc/*.pk3
.flatpak-builder/
*.AppImage
*.flatpak
flatpak/
gzdoom-crash.log
fmodapi*linux/

# generated code
/src/gitinfo.h
__pycache__/
*.py[cod]

# editor/tooling/os files
*~
.gdb_history
gdb-respfile-*
.DS_Store
.vs
.idea
.vscode
.cache
*.kate-swp
*.geany

# private dev files
*.user
*.local
*.log

# other / unknown
*.ncb
*.suo
*.pdb
*.ilk
*.aps
/wadsrc_wad
/release_gcc
/DOOMSTATS.TXT
/disasm.txt
/llvm
/src/gl/unused
/mapfiles_release/*.map
.cache/

# website generator output
website/out/
